name: Code Review

permissions:
  contents: read
  pull-requests: write

on:
  pull_request:
    types: [opened, synchronize]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: anc95/ChatGPT-CodeReview@main
        env:
          GITHUB_TOKEN: ${{ secrets.TEST_TOKEN }}
          OPENAI_API_KEY: ${{ secrets.GIT_API_KEY }}
          LANGUAGE: Korean
